.main p {
  font-style: italic;
  color: black;
  font-size: large;
}

.h-30 {
    height: 33.33%;
}

.height-12 {
    height: 12vh;
}

.height-15 {
    height: 15.34vh;
}

.height-18 {
    height: 18vh;
}

.height-30 {
    height: 33.34vh;
}

.height-54 {
    height: 54.66vh;
}

.height-70 {
    height: 70%;
}